.App {
  min-height: 100vh;
  width: 100vw;

  .automato-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .input-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 2rem;

      .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 40%;
      }
    }
  }
}
